name: Reset packages
on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/scripts/root.Dockerfile
      - logs/*/PACKAGES
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    
    
      - name: Free space
        run: |
          df -h
          set -x
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/*
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/lib/firefox
          sudo rm -rf /opt/microsoft/powershell
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/graalvm
          sudo rm -rf /etc/skel/.rustup /home/runner/.rustup /home/runneradmin/.rustup
          sudo rm -rf /usr/lib/llvm-13
          sudo rm -rf /usr/local/julia1.8.5
          sudo rm -rf /opt/microsoft
          sudo rm -rf /usr/lib/llvm-14
          sudo rm -rf /opt/az
          sudo rm -rf /home/linuxbrew
          sudo rm -rf /opt/pipx
          sudo rm -rf /opt/google
          sudo rm -rf /usr/lib/gcc
          sudo rm -rf /usr/lib/mono
          sudo rm -rf /usr/local/aws-*
          sudo rm -rf /var/lib/mysql
          sudo rm -rf /var/lib/gems
          sudo rm -rf /usr/src/*-azure-*
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/share/az_9.3.0
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /home/runner/.cargo
          sudo rm -rf /usr/share/gradle-8.0.2
          sudo rm -rf /usr/local/n
          sudo rm -rf /usr/local/sqlpackage
          sudo rm -rf /var/cache
          sudo rm -rf /root/.sbt
          sudo rm -rf /usr/share/sbt
          sudo rm -rf /var/lib/mecab
          sudo rm -rf /usr/lib/llvm-12
          sudo rm -rf /usr/share/java
          sudo rm -rf /usr/share/fonts
          sudo rm -rf /usr/share/vim
          sudo rm -rf /etc/skel/.dotnet
          sudo rm -rf /home/runneradmin/.dotnet
          sudo rm -rf /home/runner/.dotnet
          sudo rm -rf /var/lib/postgresql
          sudo rm -rf /usr/lib/postgresql
          sudo rm -rf /usr/share/icons
          sudo rm -rf /usr/include/c++
          sudo rm -rf /usr/share/mecab
          sudo rm -rf /usr/share/ri
          sudo rm -rf /etc/skel/.cargo
          sudo rm -rf /home/runneradmin/.cargo
          sudo rm -rf /usr/lib/R
          sudo rm -rf /usr/share/kotlinc
          sudo rm -rf /usr/share/doc
          sudo rm -rf /usr/share/man
          df -h
          
      - name: Maximize build space
        uses: easimon/maximize-build-space@v6
        with:
          root-reserve-mb: 71680
          swap-size-mb: 1024
          overprovision-lvm: true

      - uses: actions/checkout@v3

      - id: variables
        continue-on-error: true
        run: |
          if [ ! -f "runstarttime" ]; then exit 1; fi
          if [ ! -f "logs/$(cat runstarttime)/PACKAGES" ]; then exit 1; fi
          echo platform=$(cat PLATFORM.bioc) >> $GITHUB_OUTPUT
          echo testcontainer=$(cat ROOT_CONTAINER.bioc | sed "s#:#:test-#g") >> $GITHUB_OUTPUT
          mkdir -p /tmp/image

          # Pick 5 random built packages to test installing
          grep -irl "tar.gz$" | awk -F'/' '{print $NF}' > /tmp/alltars
          grep -Pzo "(?s)\s*\"\N*\":\s*\[" biocdeps.json | awk -F'"' '{print $2}' | grep -v '^$' > /tmp/allbioc
          comm -12 <(sort /tmp/alltars) <(sort /tmp/allbioc) > /tmp/builtbioc
          shuf -n 5 /tmp/builtbioc > randompkgs
          cat << EOF > test.Dockerfile
          FROM $(cat CONTAINER_BASE_IMAGE.bioc)
          COPY randompkgs /tmp/randompkgs
          COPY containername /tmp/containername
          COPY runstarttime /tmp/runstarttime
          COPY arch /tmp/arch
          RUN mkdir -p library && cat /tmp/randompkgs | xargs -i bash -c "curl -o library/{}.tar.gz https://js2.jetstream-cloud.org:8001/swift/v1/gha-build/$(cat containername)/$(cat arch)/$(cat runstarttime)/libraries/{}.tar.gz && (cd library && tar -xvf {}.tar.gz && rm {}.tar.gz && rm -rf {}) && Rscript -e \"p <- .libPaths(); p <- c('$(pwd)/library', p); .libPaths(p); BiocManager::install('{}', site_repository = 'https://js2.jetstream-cloud.org:8001/swift/v1/gha-build/$(cat containername)/$(cat arch)/$(cat runstarttime)/binaries/')\""
          EOF

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
        if: contains(steps.variables.outputs.platform, 'arm64') && steps.variables.outcome=='success'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ steps.variables.outputs.platform }}
        if: steps.variables.outcome=='success'

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: steps.variables.outcome=='success'

      - name: Test libraries in buildx emulator
        id: dockerbuild
        uses: docker/build-push-action@v3
        with:
          file: test.Dockerfile
          push: false
          load: false
          outputs: type=tar,dest=/tmp/image/bioc_test.tar
          context: .
          tags: ${{ steps.variables.outputs.testcontainer }}
          platforms: ${{ steps.variables.outputs.platform }}
        if: steps.variables.outcome=='success'

      - run: |
          rclone move js2:/gha-build/$(cat containername)/$(cat arch)/$(cat runstarttime)/binaries/src/contrib js2:/container-binaries/$(cat containername)/$(cat arch)/binaries/src/contrib -vvvvvv
        if: steps.variables.outcome=='success'

  packages-build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          persist-credentials: true

      - id: variables
        run: |
          echo platform=$(cat PLATFORM.bioc) >> $GITHUB_OUTPUT
          echo rootcontainer=$(cat ROOT_CONTAINER.bioc) >> $GITHUB_OUTPUT
          mkdir -p /tmp/image

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
        if: contains(steps.variables.outputs.platform, 'arm64')

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ steps.variables.outputs.platform }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container with root user
        id: dockerbuild
        uses: docker/build-push-action@v3
        with:
          file: .github/scripts/root.Dockerfile
          push: false
          load: false
          outputs: type=tar,dest=/tmp/image/bioc_build.tar
          context: .
          cache-to: type=gha,mode=max,scope=${{ steps.meta.outputs.image }}
          tags: ${{ steps.variables.outputs.rootcontainer }}
          platforms: ${{ steps.variables.outputs.platform }}

      - name: Copy old run
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 50
          shell: bash
          command: |
            set -x
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            git pull origin main || git reset --hard origin/main
            STARTTIME="$(cat runstarttime)" || true
            LOGDIR="logs/$(cat runstarttime)" || true
            mv runstarttime "$LOGDIR"/ || true
            mv uniquedeps.json "$LOGDIR"/ || true
            mv packages.json "$LOGDIR"/ || true
            mv biocdeps.json "$LOGDIR"/ || true
            mv tobuild.txt "$LOGDIR"/ || true
            mv lists "$LOGDIR"/lists || true

            repodir=$(pwd)
            mkdir -p bioc_build

            (cd /tmp/image && tar -xvf bioc_build.tar && cp -r tmp/bioc_build $repodir/)

            mv bioc_build/uniquedeps.json ./
            mv bioc_build/biocdeps.json ./
            cp biocdeps.json packages.json
            cp bioc_build/containername containername
            cp bioc_build/arch arch

            bash .github/scripts/reset_packages.sh
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            git config user.email "action@github.com"
            git config user.name "GitHub Action"
            git add .
            git commit -m "Reset packages $STARTTIME"
            git push
